<form (ngSubmit)="onSubmit()">
  <h1 matDialogTitle>Task</h1>

  <div matDialogContent>
    <div class="flex w-[90vw] flex-col sm:w-96">
      <mat-form-field appearance="standard">
        <input
          matInput
          name="title"
          type="text"
          placeholder="Title"
          required
          maxlength="30"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          [(ngModel)]="data.title"
        />
        <mat-hint align="end">{{ data.title?.length ?? 0 }} / 30</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <textarea
          matInput
          name="description"
          rows="5"
          placeholder="Description"
          maxlength="500"
          [(ngModel)]="data.description"
          i18n-placeholder
        ></textarea>
        <mat-hint align="end"
          >{{ data.description?.length ?? 0 }} / 500</mat-hint
        >
      </mat-form-field>
    </div>
  </div>

  <div matDialogActions class="mt-3 flex justify-end">
    <button mat-button matDialogClose class="uppercase">Cancel</button>
    <button
      mat-button
      class="uppercase"
      type="submit"
      color="primary"
      [disabled]="loading || !modified"
    >
      Save
    </button>
  </div>
</form>
