mat-toolbar {
  background-color: inherit !important;
}

mat-drawer-container {
  height: 0;
}
mat-drawer-container > mat-drawer-content {
  height: 100%;
  padding: 20px 50px;
}
mat-drawer-container > mat-drawer-content.mobile {
  padding: 20px 15px;
}
mat-drawer-container > mat-drawer-content > main {
  height: 0;
  overflow: auto;
}
