<ng-container
  *ngIf="{
    team: team$ | async,
    links: links$ | async,
    sidebarOpen: sidebarOpen$ | async,
    sidebarMode: sidebarMode$ | async
  } as data"
>
  <ng-container *ngIf="data.team && data.sidebarMode">
    <app-app-bar *appLayout="'header'">
      <app-back-button navigation></app-back-button>
      <span>{{ data.team.name }}</span>
      <span class="text-l-secondary-text dark:text-d-secondary-text"
        >#{{ data.team.id }}</span
      >
      <button mat-icon-button action (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </app-app-bar>

    <mat-drawer-container class="h-full">
      <mat-drawer
        class="md:bg-transparent"
        position="end"
        [opened]="data.sidebarOpen"
        [mode]="data.sidebarMode"
        #drawer
      >
        <app-team-detail-tabs-sidebar></app-team-detail-tabs-sidebar>
      </mat-drawer>
      <mat-drawer-content class="h-full py-5 px-4 md:px-12">
        <div class="flex h-full flex-col">
          <nav mat-tab-nav-bar>
            <a
              matTabLink
              *ngFor="
                let link of data.links;
                let index = index;
                trackBy: linkTracker
              "
              [routerLink]="link.commands"
              routerLinkActive
              [active]="linkIndexActive == index"
              (isActiveChange)="$event ? (linkIndexActive = index) : null"
            >
              {{ link.title }}
            </a>
          </nav>
          <div
            class="h-0 grow overflow-auto"
            *ngIf="linkIndexActive != null"
            [@tab]="linkIndexActive"
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-container>
</ng-container>
