<mat-action-list>
  <ng-container
    *ngIf="admin; then actionDisband; else actionExit"
  ></ng-container>

  <ng-template #actionExit>
    <button
      mat-list-item
      [disabled]="loading"
      [appConfirmation]="{
        title: 'Exit?',
        message:
          'Are you sure you want to exit this room? You can rejoin later, but all your data is gone forever.',
        action: 'Exit'
      }"
      (confirm)="exit()"
    >
      <mat-icon matListIcon>logout</mat-icon>
      <div matLine i18n>Exit this room</div>
      <div matLine i18n>Remove your membership</div>
    </button>
  </ng-template>

  <ng-template #actionDisband>
    <button
      mat-list-item
      [disabled]="loading"
      [appConfirmation]="{
        title: 'Disband?',
        message:
          'This room and will be completely removed, all the data will disappear. Are you sure?',
        action: 'Disband'
      }"
      (confirm)="disband()"
    >
      <mat-icon matListIcon>delete</mat-icon>
      <div matLine i18n>Disband this room</div>
      <div matLine i18n>Remove the entire room</div>
    </button>
  </ng-template>
</mat-action-list>
