<ng-container *ngIf="{ isDesktop: isDesktop$ | async } as data">
  <button
    mat-list-item
    *ngIf="assignment"
    class="css"
    (click)="expanded = !expanded"
  >
    <div class="css summary flex w-full items-center">
      <div
        (click)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
        (mousedown)="$event.stopPropagation()"
      >
        <button
          mat-icon-button
          [matTooltip]="completionTooltip"
          (click)="switchCompletion()"
        >
          <mat-icon>{{ completionIcon }}</mat-icon>
        </button>
      </div>

      <div class="ml-[1%] w-0 grow">
        <div matLine class="css">
          {{ assignment.task.title }}
        </div>
        <div
          matLine
          class="css gap-1 text-l-secondary-text dark:text-d-secondary-text"
        >
          <span matTooltip="Creator" i18n-matTooltip>
            <mat-icon class="translate-y-0.5" inline>person</mat-icon>
            <span>
              <app-username
                [user]="assignment.task.creator.owner"
              ></app-username>
            </span>
          </span>
          <span matTooltip="Creation Time" i18n-matTooltip>
            <mat-icon class="translate-y-0.5" inline>calendar_today</mat-icon>
            <span>
              {{
                assignment.createdAt
                  | date: (data.isDesktop ? 'short' : 'short')
              }}
            </span>
          </span>
          <span *ngIf="assignment.task.description" matTooltip="Detailed">
            <mat-icon class="translate-y-0.5" inline>note</mat-icon>
          </span>
        </div>
      </div>

      <div
        (click)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
        (mousedown)="$event.stopPropagation()"
      >
        <button
          mat-icon-button
          [matTooltip]="importanceTooltip"
          (click)="switchImportance()"
        >
          <mat-icon>{{ importanceIcon }}</mat-icon>
        </button>
      </div>
    </div>

    <div
      class="mat-typography mb-4 whitespace-pre-line px-12"
      [@expansion]="!!(expanded && assignment.task.description)"
    >
      {{ assignment.task.description }}
    </div>
  </button>
</ng-container>
