[mat-list-item].fallback-css {
  height: auto;
  ::ng-deep & {
    .mat-list-item-content {
      flex-wrap: wrap;
      overflow: hidden;
    }
  }
  .summary.fallback-css {
    height: 72px;
  }
}

[matLine].fallback-css {
  display: flex;
}
