<button *ngIf="assignment" mat-list-item (click)="modal.open()">
  <div
    class="actions"
    (click)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
    (mousedown)="$event.stopPropagation()"
  >
    <button
      mat-icon-button
      [matTooltip]="completionTooltip"
      (click)="switchCompletion()"
      appStopRipplePropagation
    >
      <mat-icon>{{ completionIcon }}</mat-icon>
    </button>
  </div>

  <div class="content" fxFlex fxFlexOffset="1%">
    <div matLine>
      {{ assignment.task.title }}
    </div>
    <div matLine class="opacity--1" fxLayout fxLayoutGap="4px">
      <span matTooltip="Creator" i18n-matTooltip>
        <mat-icon inline>person</mat-icon>
        <span>
          <app-username [user]="assignment.task.creator.owner"></app-username>
        </span>
      </span>
      <span matTooltip="Creation Time" i18n-matTooltip>
        <mat-icon inline>calendar_today</mat-icon>
        <span>{{ assignment.createdAt | date: 'short' }}</span>
      </span>
    </div>
  </div>

  <div
    class="actions"
    (click)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
    (mousedown)="$event.stopPropagation()"
  >
    <button
      mat-icon-button
      [matTooltip]="importanceTooltip"
      (click)="switchImportance()"
    >
      <mat-icon>{{ importanceIcon }}</mat-icon>
    </button>
  </div>
</button>

<ng-template appModal #modal="appModal">
  <app-team-detail-tab-assignments-item-detail
    [assignment]="assignment"
  ></app-team-detail-tab-assignments-item-detail>
</ng-template>
