version: "3.9"

services:
  backend:
    image: char2s/tasked_backend
    build:
      context: tasked-backend
      dockerfile: .docker/dockerfile
    env_file:
      - tasked-backend/.env
    ports:
      - 3000:3000
    volumes:
      - data:/app/data/
  frontend:
    image: char2s/tasked_frontend
    build:
      context: tasked-frontend
      dockerfile: .docker/dockerfile
    ports:
      - 80:80
    volumes:
      - ./tasked-frontend/.docker/cert:/app/cert

volumes:
  data:
