@use '../../../../node_modules/@angular/material' as mat;
@use 'sass:map' as map;

$theme-base: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette),
      accent: mat.define-palette(mat.$grey-palette),
    ),
  )
);

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette, 500),
      accent: mat.define-palette(mat.$pink-palette, A200),
    ),
  )
);

$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette, 200),
      accent: mat.define-palette(mat.$pink-palette, A200),
    ),
  )
);
// use the background color recommended in the Material spec
$theme-dark: map.deep-merge(
  $theme-dark,
  (
    color: (
      background: (
        background: #121212,
      ),
    ),
  )
);
