.uppercase {
  text-transform: uppercase;
}

.opacity--1 {
  opacity: 80%;
}
.opacity--2 {
  opacity: 60%;
}
.opacity--3 {
  opacity: 40%;
}

.bgc--none {
  background-color: transparent !important;
}

.preserve {
  white-space: pre-wrap;
}
