@use '../../../../node_modules/angular-notifier/styles';
@use './utilities';
@use '../../../../node_modules/@angular/material' as mat;
@use './themes' as themes;
@use 'sass:map' as map;
@use 'sass:color' as color;

@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@mixin router-link-active($theme) {
  $text-color: map.get($theme, 'primary', 'text');
  $bg-color: color.change($text-color, $alpha: 0.12);
  $bg-color-hover: color.change($text-color, $alpha: 0.18);
  .router-link-active {
    color: $text-color !important;
    background-color: $bg-color !important;
  }
  .router-link-active:hover {
    background-color: $bg-color-hover !important;
  }
}

@include mat.core();
@include mat.all-component-themes(themes.$theme-base); // temporary placeholder
.theme-light {
  @include mat.all-component-colors(themes.$theme-light);
  @include router-link-active(themes.$theme-light);
  mat-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .mat-button-disabled mat-icon,
  .mat-primary mat-icon,
  .router-link-active mat-icon {
    color: inherit;
  }
  --pwa-theme-color: #{map.get(
      themes.$theme-dark,
      'color',
      'background',
      'app-bar'
    )};
}
.theme-dark {
  @include mat.all-component-colors(themes.$theme-dark);
  @include router-link-active(themes.$theme-dark);
  ngx-skeleton-loader {
    opacity: 0.05;
  }
  --pwa-theme-color: #{map.get(
      themes.$theme-light,
      'color',
      'primary',
      'default'
    )};
}
