@use '../../../../node_modules/angular-notifier/styles'; // don't know why it's require a relative path
@use '@angular/material' as mat;
@use './themes' as themes;
@use './material-patches' as mat-patches;
@use 'sass:map' as map;
@use 'sass:color' as color;

@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@mixin router-link-active($theme) {
  $text-color: map.get($theme, 'primary', 'text');
  $bg-color: color.change($text-color, $alpha: 0.12);
  $bg-color-hover: color.change($text-color, $alpha: 0.18);
  .router-link-active {
    color: $text-color !important;
    background-color: $bg-color !important;
  }
  .router-link-active:hover {
    background-color: $bg-color-hover !important;
  }
}

@mixin text-selection($theme) {
  $primary-color: map.get($theme, 'primary', 'default');
  ::selection {
    background-color: color.change($primary-color, $alpha: 0.16);
  }
}

@mixin scrollbar($theme) {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: map.get($theme, 'color', 'foreground', 'divider');
  }
}

@include mat.core();
@include mat.all-component-themes(themes.$theme-base);
body:not(.dark) {
  $theme: themes.$theme-light;
  @include mat.all-component-colors($theme);
  @include router-link-active($theme);
  @include text-selection($theme);
  @include scrollbar($theme);
  mat-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .mat-button-disabled mat-icon,
  .mat-primary mat-icon,
  .router-link-active mat-icon {
    color: inherit;
  }
  --pwa-theme-color: #{map.get($theme, 'color', 'primary', 'default')};
}

body.dark {
  $theme: themes.$theme-dark;
  @include mat.all-component-colors($theme);
  @include router-link-active($theme);
  @include text-selection($theme);
  @include scrollbar($theme);
  ngx-skeleton-loader {
    opacity: 0.05;
  }
  --pwa-theme-color: #{map.get($theme, 'color', 'background', 'app-bar')};
}

@include mat-patches.nav-list();

* {
  transition: background-color 300ms ease;
}
