<div
  class="mat-typography container"
  ngClass.gt-xs="dialog"
  fxLayout="column"
  fxLayoutAlign="start"
>
  <h2 fxLayout fxLayoutAlign="center center">
    {{ assignment?.task?.title }}
  </h2>

  <p *ngIf="assignment?.task?.description" class="preserve">
    <ng-container>{{ assignment?.task?.description }}</ng-container>
  </p>

  <mat-list dense>
    <mat-list-item *ngFor="let info of infoItems">
      <mat-icon matListIcon>{{ info.icon }}</mat-icon>
      <div matLine class="info-value">
        {{ info.value }}
      </div>
      <div matLine class="info-name opacity--1">{{ info.name }}</div>
    </mat-list-item>
  </mat-list>
</div>
