<div class="relative flex h-full flex-col pt-7" *ngIf="tasks$ | async as tasks">
  <ng-container *ngIf="tasks.length; then list; else empty"></ng-container>
  <ng-template #list>
    <div class="h-0 grow overflow-y-auto overflow-x-hidden">
      <ngx-masonry>
        <app-team-detail-tab-tasks-item
          ngxMasonryItem
          *ngFor="let task of tasks; trackBy: taskTracker"
          class="block w-full sm:w-1/2 lg:w-1/3"
          [task]="task"
        ></app-team-detail-tab-tasks-item>
      </ngx-masonry>
      <app-infinity-scroll-trigger
        *ngIf="loadingMoreNeeded"
        [loading]="loadingMore"
        (trigger)="loadMore()"
      ></app-infinity-scroll-trigger>
    </div>
  </ng-template>
  <ng-template #empty>
    <div class="flex grow items-center justify-center">
      <app-empty-state-illustration
        headline="Nothing here"
        message="Add a task to start your awesome project!"
      >
        <app-illustration name="add-tasks"></app-illustration>
      </app-empty-state-illustration>
    </div>
  </ng-template>
  <mat-divider></mat-divider>
  <app-team-detail-tab-tasks-creation-bar></app-team-detail-tab-tasks-creation-bar>
</div>
