<button mat-list-item *ngIf="editable" matRipple (click)="edit.emit()">
  <mat-icon matListIcon>{{ icon }}</mat-icon>
  <div matLine>
    <span>{{ name }}</span>
  </div>
  <div class="flex items-center">
    <span class="text-medium-emphasis">{{ value }}</span>
    <mat-icon *ngIf="editable" class="ml-1">chevron_right</mat-icon>
  </div>
</button>

<mat-list-item *ngIf="!editable">
  <mat-icon matListIcon>{{ icon }}</mat-icon>
  <div matLine>
    <span>{{ name }}</span>
  </div>
  <div class="flex items-center">
    <span class="text-medium-emphasis">{{ value }}</span>
  </div>
</mat-list-item>
