<div
  *ngIf="{ theme: theme$ | async, desktop: desktop$ | async } as data"
  class="flex h-full flex-col"
>
  <mat-toolbar
    class="mat-elevation-z4 z-[2]"
    [class.text-primary]="data.theme == 'dark'"
    [color]="data.theme == 'light' ? 'primary' : undefined"
  >
    <ng-container *cdkPortalOutlet="header$ | async"></ng-container>
  </mat-toolbar>
  <mat-sidenav-container class="h-full flex-1 overflow-auto">
    <mat-sidenav
      class="w-64"
      [class]="data.desktop ? 'bg-transparent-important' : undefined"
      [opened]="data.desktop"
      [mode]="data.desktop ? 'side' : 'over'"
      #sidenav
    >
      <ng-container *cdkPortalOutlet="sidenav$ | async"></ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
