<div
  *ngIf="{
    theme: theme$ | async,
    desktop: isBreakpointXLargeMatched$ | async,
    navigationContent: navigationContent$ | async
  } as data"
  class="flex h-full flex-col"
>
  <mat-toolbar
    class="mat-elevation-z4 z-[2] order-3 md:order-1"
    [class.text-primary]="data.theme == 'dark'"
    [color]="data.theme == 'light' ? 'primary' : undefined"
  >
    <ng-container [cdkPortalOutlet]="headerContent$ | async"></ng-container>
  </mat-toolbar>
  <mat-sidenav-container class="order-2 h-full flex-1 overflow-auto">
    <mat-sidenav
      class="w-64"
      [class]="data.desktop ? 'bg-transparent-important' : undefined"
      [opened]="data.desktop"
      [mode]="data.desktop ? 'side' : 'over'"
      (navigation)="data.desktop ? null : navigatorSide.close()"
    >
      <ng-container [cdkPortalOutlet]="data.navigationContent"></ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-template appModal>
    <ng-container
      [cdkPortalOutlet]="data.navigationContent"
      (navigation)="navigatorBottom.close()"
    ></ng-container>
  </ng-template>
</div>
