<div
  *ngIf="{
    theme: theme$ | async,
    desktop: isBreakpointXLargeMatched$ | async,
    headerContent: headerContent$ | async,
    navigationContent: navigationContent$ | async,
    navigatingAndBlocked: navigatingAndBlocked$ | async
  } as data"
  class="relative flex h-full flex-col"
  (navigationStart)="navigating$.next(true)"
  (navigationEnd)="navigating$.next(false)"
>
  <mat-toolbar
    class="css mat-elevation-z4 z-[2] order-4 md:order-2"
    [color]="data.theme == 'light' ? 'primary' : undefined"
  >
    <ng-container [cdkPortalOutlet]="data.headerContent"></ng-container>
  </mat-toolbar>
  <div *ngIf="data.navigatingAndBlocked" class="absolute inset-0 z-10">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-sidenav-container class="order-3 h-full flex-1 overflow-auto">
    <mat-sidenav
      class="w-64"
      [class]="data.desktop ? 'bg-transparent' : undefined"
      [opened]="data.desktop"
      [mode]="data.desktop ? 'side' : 'over'"
      (navigationStart)="data.desktop ? null : navigatorSide.close()"
    >
      <ng-container [cdkPortalOutlet]="data.navigationContent"></ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <ng-template appModal>
    <div class="h-[60vh]">
      <ng-container
        [cdkPortalOutlet]="data.navigationContent"
        (navigationStart)="navigatorBottom.close()"
      ></ng-container>
    </div>
  </ng-template>
</div>
