<mat-list *ngIf="user$ | async as user">
  <h3 matSubheader>Profile</h3>
  <app-settings-list-item
    name="Username"
    icon="fingerprint"
    [value]="user.username"
    [editable]="false"
  ></app-settings-list-item>
  <app-settings-list-item
    name="Full Name"
    icon="badge"
    [value]="user.nickname"
    [editable]="true"
    (edit)="editFullNameModal.openDialog()"
  >
  </app-settings-list-item>
  <app-settings-list-item
    name="Password"
    icon="password"
    value=""
    [editable]="true"
    (edit)="editPasswordModal.openDialog()"
  >
  </app-settings-list-item>
  <app-settings-list-item
    name="Gender"
    icon="star"
    [value]="user.gender"
    [editable]="true"
    (edit)="editGenderModal.openDialog()"
  ></app-settings-list-item>
</mat-list>

<ng-template appModal #editFullNameModal="appModal">
  <app-settings-edit-full-name-modal></app-settings-edit-full-name-modal>
</ng-template>
<ng-template appModal #editPasswordModal="appModal">
  <app-settings-edit-password-modal></app-settings-edit-password-modal>
</ng-template>
<ng-template appModal #editGenderModal="appModal">
  <app-settings-edit-gender-modal></app-settings-edit-gender-modal>
</ng-template>
