<mat-list *ngIf="user$ | async as user">
  <h3 matSubheader>Profile</h3>
  <app-settings-list-normal-item name="Username" icon="fingerprint">
    {{ user.username }}
  </app-settings-list-normal-item>
  <app-settings-list-button-item
    name="Full Name"
    icon="badge"
    (click)="editFullNameModal.openDialog()"
  >
    {{ user.nickname }}
  </app-settings-list-button-item>
  <app-settings-list-button-item
    name="Password"
    icon="password"
    value=""
    (click)="editPasswordModal.openDialog()"
  ></app-settings-list-button-item>
  <app-settings-list-button-item
    name="Gender"
    icon="star"
    (click)="editGenderModal.openDialog()"
  >
    {{ user.gender }}
  </app-settings-list-button-item>

  <h3 matSubheader>Appearance</h3>
  <app-settings-list-normal-item name="Dark Mode" icon="dark_mode">
    <app-theme-switcher></app-theme-switcher>
  </app-settings-list-normal-item>
</mat-list>

<ng-template appModal #editFullNameModal="appModal">
  <app-settings-edit-full-name-modal></app-settings-edit-full-name-modal>
</ng-template>
<ng-template appModal #editPasswordModal="appModal">
  <app-settings-edit-password-modal></app-settings-edit-password-modal>
</ng-template>
<ng-template appModal #editGenderModal="appModal">
  <app-settings-edit-gender-modal></app-settings-edit-gender-modal>
</ng-template>
