<app-settings-edit-modal
  headline="Password"
  [invalid]="form.invalid ?? true"
  (save)="onSave()"
>
  <form class="my-4" (ngSubmit)="onSave()" #form="ngForm">
    <mat-form-field class="w-full" appearance="standard">
      <input
        matInput
        name="password"
        type="password"
        autocomplete="new-password"
        placeholder="New Password"
        validation="password"
        required
        [(ngModel)]="value"
        (ngModelChange)="confirm.reset()"
        #password="ngModel"
      />
      <mat-error *ngIf="password | validationErrorMessage | async as message">
        {{ message }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="standard">
      <input
        matInput
        name="password-confirm"
        type="password"
        autocomplete="new-password"
        placeholder="Confirm Password"
        required
        [equals]="value"
        [(ngModel)]="valueForConfirm"
        #confirm="ngModel"
      />
      <mat-error *ngIf="confirm.invalid"> Password not match </mat-error>
      <button hidden type="submit" [disabled]="form.invalid"></button>
    </mat-form-field>
  </form>
</app-settings-edit-modal>
