@use '../../../styles/themes' as themes;
@use 'sass:map' as map;

.text-primary {
  color: map.get(themes.$theme-dark, 'color', 'primary', 'text');
}

.bg-transparent-important {
  @apply bg-transparent;
}
