<div class="w-60">
  <h1 matDialogTitle>{{ config.title }}</h1>
  <div matDialogContent>{{ config.message }}</div>
  <div matDialogActions class="flex justify-end">
    <button
      mat-button
      matDialogClose
      class="uppercase"
      color="primary"
      (click)="cancel.emit()"
    >
      Cancel
    </button>
    <button
      mat-button
      matDialogClose
      class="uppercase"
      color="primary"
      (click)="confirm.emit()"
    >
      {{ config.action }}
    </button>
  </div>
</div>
