<mat-card class="group mx-1 mb-2">
  <mat-card-title class="text-ellipsis whitespace-nowrap overflow-hidden">
    {{ task?.title }}
  </mat-card-title>

  <mat-card-subtitle>
    <div>
      <mat-icon matListIcon inline class="translate-y-[2px] mr-1">
        calendar_today
      </mat-icon>
      <span>{{ task?.createdAt | date: 'medium' }}</span>
    </div>
    <div>
      <mat-icon matListIcon inline class="translate-y-[2px] mr-1">
        task_alt
      </mat-icon>
      <span>Assigned: {{ task?.assignments?.total }}</span>
    </div>
  </mat-card-subtitle>

  <mat-card-content class="whitespace-pre-wrap">{{
    task?.description
  }}</mat-card-content>

  <mat-card-actions>
    <div class="flex">
      <button
        mat-button
        class="uppercase"
        color="primary"
        (click)="assignPopup.openSheet()"
      >
        Assign
      </button>
      <span class="grow"></span>
      <button mat-icon-button (click)="editPopup.open()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [disabled]="loading" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<app-modal #assignPopup>
  <ng-template>
    <app-room-detail-tasks-item-assign-popup
      [task]="task"
    ></app-room-detail-tasks-item-assign-popup>
  </ng-template>
</app-modal>

<app-modal #editPopup>
  <ng-template>
    <app-room-detail-tasks-item-edit-popup
      [task]="task"
    ></app-room-detail-tasks-item-edit-popup>
  </ng-template>
</app-modal>
