<mat-expansion-panel
  [(expanded)]="expanded"
  (expandedChange)="$event ? this.initData() : null"
  ngForm
  #form="ngForm"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div *ngIf="!expanded">{{ task?.title }}</div>
      <mat-form-field *ngIf="expanded" appearance="standard">
        <input
          matInput
          name="title"
          type="text"
          placeholder="Title"
          required
          maxlength="30"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          [(ngModel)]="data.title"
          #title="ngModel"
        />
        <mat-hint align="end">{{ data.title?.length ?? 0 }} / 30</mat-hint>
      </mat-form-field>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <mat-form-field appearance="standard">
      <textarea
        matInput
        name="description"
        rows="5"
        placeholder="Description"
        maxlength="500"
        [(ngModel)]="data.description"
        i18n-placeholder
      ></textarea>
      <mat-hint align="end">{{ data.description?.length ?? 0 }} / 500</mat-hint>
    </mat-form-field>

    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>task_alt</mat-icon>
        <div matLine i18n>Assignments</div>
        <div matLine>{{ task?.assignments?.total }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>calendar_today</mat-icon>
        <div matLine i18n>Creation Time</div>
        <div matLine>{{ task?.createdAt | date: 'medium' }}</div>
      </mat-list-item>
    </mat-list>

    <mat-action-row fxLayout>
      <button
        mat-button
        class="uppercase"
        [disabled]="modified"
        (click)="modal.openSheet()"
        i18n
      >
        Assign
      </button>

      <mat-divider vertical style="margin-left: 8px"></mat-divider>

      <button
        mat-button
        class="uppercase"
        [disabled]="!form.valid || !modified || loading"
        (click)="update()"
        i18n
      >
        Save
      </button>

      <button
        mat-button
        class="uppercase"
        [disabled]="loading"
        color="warn"
        (click)="delete()"
        i18n
      >
        Delete
      </button>
    </mat-action-row>
  </ng-template>
</mat-expansion-panel>

<app-modal #modal>
  <ng-template>
    <app-room-detail-tasks-item-assign-popup
      [task]="task"
    ></app-room-detail-tasks-item-assign-popup>
  </ng-template>
</app-modal>
