<div mat-menu-item>
  <mat-icon>person</mat-icon>
  <app-username [user]="(auth.user$ | async) ?? undefined"></app-username>
</div>
<mat-divider></mat-divider>
<button mat-menu-item (click)="modal.open()">
  <mat-icon>edit</mat-icon>
  <span i18n>Profile</span>
</button>
<button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  <span i18n>Logout</span>
</button>

<app-modal #modal>
  <ng-template>
    <app-profile-btn-menu-edit-popup
      ngClass.gt-xs="dialog"
      (update)="modal.close()"
    ></app-profile-btn-menu-edit-popup>
  </ng-template>
</app-modal>
