<ng-container *ngIf="(state.applicationGroups$ | async) ?? 'loading' as groups">
  <ng-container *ngIf="!groups.length; then empty"></ng-container>
  <div class="overflow-auto">
    <div class="mx-auto w-[90%] max-w-[528px] py-12">
      <app-application-list
        *ngIf="groups != 'loading'; else skeleton"
      ></app-application-list>
    </div>
  </div>
</ng-container>

<ng-template #skeleton>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ width: '60%' }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ width: '80%' }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ width: '40%' }"
  ></ngx-skeleton-loader>
</ng-template>

<ng-template #empty>
  <app-empty-state-illustration
    headline="Seems empty"
    message="Applications you sent or sent to you will show up here."
  >
    <img
      src="assets/illustrations/accept-request.svg"
      alt="Illustration: Accept Request"
    />
  </app-empty-state-illustration>
</ng-template>
