<mat-card class="group mx-1 mb-2">
  <mat-card-title class="overflow-hidden text-ellipsis whitespace-nowrap">
    {{ task?.title }}
  </mat-card-title>

  <mat-card-subtitle>
    <div>
      <mat-icon matListIcon inline class="mr-1 translate-y-[2px]">
        calendar_today
      </mat-icon>
      <span>{{ task?.createdAt | date: 'medium' }}</span>
    </div>
    <div>
      <mat-icon matListIcon inline class="mr-1 translate-y-[2px]">
        task_alt
      </mat-icon>
      <span>Assigned: {{ task?.assignments?.total }}</span>
    </div>
  </mat-card-subtitle>

  <mat-card-content class="whitespace-pre-wrap">{{
    task?.description
  }}</mat-card-content>

  <mat-card-actions>
    <div class="flex">
      <button mat-button class="uppercase" (click)="assigningModal.openSheet()">
        Assign
      </button>
      <span class="grow"></span>
      <button mat-icon-button (click)="editingModal.open()">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="loading"
        [appConfirmation]="{
          title: 'Delete?',
          message: 'This task will disappear forever and cannot be recovered.',
          action: 'Delete'
        }"
        (confirm)="delete()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template appModal #assigningModal="appModal">
  <app-team-detail-tab-tasks-item-assign-popup
    [task]="task"
  ></app-team-detail-tab-tasks-item-assign-popup>
</ng-template>

<ng-template appModal #editingModal="appModal">
  <app-team-detail-tab-tasks-item-edit-popup
    [task]="task"
  ></app-team-detail-tab-tasks-item-edit-popup>
</ng-template>
