<div class="relative flex h-full flex-col gap-4 py-7 px-8 md:px-[20%]">
  <form class="flex items-center gap-4" (ngSubmit)="load()">
    <mat-form-field class="grow" appearance="standard">
      <mat-label i18n>Search</mat-label>
      <input matInput name="search" type="search" [(ngModel)]="searchInput" />
      <mat-hint i18n>Search by team name or "#" + ID</mat-hint>
    </mat-form-field>
    <button mat-icon-button [disabled]="loading">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <mat-divider></mat-divider>

  <ng-container *ngIf="teams$ | async as teams">
    <mat-action-list
      class="grow overflow-auto"
      *ngIf="teams.length; else empty"
    >
      <app-team-list-item
        *ngFor="let team of teams; trackBy: teamTracker"
        [team]="team"
      ></app-team-list-item>
    </mat-action-list>
    <ng-template #empty>
      <div class="flex grow flex-col items-center justify-center">
        <app-empty-state-illustration
          class="-mt-12"
          *ngIf="!searchMode"
          headline="No teams yet"
          message="Search to join a team, or create your own!"
        >
          <app-illustration name="teamwork"></app-illustration>
        </app-empty-state-illustration>
        <app-empty-state-illustration
          class="-mt-12"
          *ngIf="searchMode"
          headline="No result found"
          message="Check your keywords or search again by ID"
        >
          <app-illustration name="void"></app-illustration>
        </app-empty-state-illustration>
      </div>
    </ng-template>
    <a mat-stroked-button class="uppercase" color="primary" routerLink="create">
      <div class="flex w-full items-center justify-center gap-1">
        <mat-icon>add</mat-icon>
        <span>New Team</span>
      </div>
    </a>
  </ng-container>
</div>
