<app-container class="container" fxLayout="column">
  <ng-container *ngIf="loadingInitial">
    <ngx-skeleton-loader
      count="2"
      [theme]="{ height: '40px' }"
    ></ngx-skeleton-loader>
  </ng-container>

  <mat-accordion fxFlex>
    <app-room-detail-tasks-item
      *ngFor="let task of tasks$ | async; trackBy: identifyTask"
      [task]="task"
    ></app-room-detail-tasks-item>
    <app-infinity-scroll-trigger
      *ngIf="loadingMoreNeeded"
      [loading]="loadingMore"
      (trigger)="fetchMore()"
    ></app-infinity-scroll-trigger>
  </mat-accordion>

  <app-room-detail-tasks-creation-bar></app-room-detail-tasks-creation-bar>
</app-container>
