@use '../../../../styles/themes' as themes;
@use 'sass:map' as map;

.logo {
  cursor: pointer;
}

:host-context(.theme-dark) {
  mat-toolbar {
    color: map.get(themes.$theme-dark, 'color', 'primary', 'text');
  }
}
