<app-layout>
  <app-layout-header
    ngProjectAs="header"
    (toggleSidebar)="content.sidenav.toggle()"
  >
    <ng-container ngProjectAs="actions">
      <app-theme-button></app-theme-button>
      <app-refetch-button></app-refetch-button>
      <app-profile-btn></app-profile-btn>
    </ng-container>
  </app-layout-header>

  <app-layout-content ngProjectAs="content" #content>
    <app-main-layout-sidenav ngProjectAs="sidenav"></app-main-layout-sidenav>
    <div
      ngProjectAs="content"
      class="h-full"
      [@routerAnimation]="getRouterAnimationState()"
    >
      <router-outlet></router-outlet>
    </div>
  </app-layout-content>
</app-layout>
