<div
  class="h-full"
  [@fadeThrough]="routerOutletDataReader.read()?.['animationState']"
>
  <router-outlet></router-outlet>
</div>

<app-header
  *appLayout="'header'; let navigator = navigator"
  (menuToggle)="navigator.toggle()"
>
  <app-theme-button></app-theme-button>
  <app-refetch-button></app-refetch-button>
  <app-profile-btn></app-profile-btn>
</app-header>

<mat-nav-list *appLayout="'navigation'">
  <a
    mat-list-item
    *ngFor="let link of links"
    [routerLink]="link.commands"
    routerLinkActive="router-link-active"
  >
    <mat-icon matListIcon>{{ link.icon }}</mat-icon>
    <div matLine i18n>{{ link.text }}</div>
  </a>
</mat-nav-list>
