<mat-list-item>
  <div matLine class="flex items-center">
    <app-username [user]="application?.owner" [color]="true"></app-username>
    <mat-icon inline class="text-l-secondary-text dark:text-d-secondary-text">
      arrow_right
    </mat-icon>
    <span>{{ application?.room?.name }}</span>
    <span class="text-l-secondary-text dark:text-d-secondary-text">
      #{{ application?.room?.id }}
    </span>
  </div>
  <div
    matLine
    [class]="
      !application?.message
        ? 'text-l-secondary-text dark:text-d-secondary-text'
        : undefined
    "
  >
    {{ application?.message || '...' }}
  </div>
  <div matLine class="text-l-secondary-text dark:text-d-secondary-text">
    {{ application?.createdAt | date: 'mediumTime' }}
  </div>

  <ng-container *ngIf="own">
    <ng-container
      *ngIf="application?.status == ApplicationStatus.Pending; else status"
    >
      <button mat-icon-button [disabled]="loading" (click)="delete()">
        <mat-icon>cancel</mat-icon>
      </button>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!own">
    <ng-container
      *ngIf="application?.status == ApplicationStatus.Pending; else status"
    >
      <button mat-icon-button [disabled]="loading" (click)="accept()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button [disabled]="loading" (click)="reject()">
        <mat-icon>clear</mat-icon>
      </button>
    </ng-container>
  </ng-container>

  <ng-template #status>
    <div class="mat-body text-l-secondary-text dark:text-d-secondary-text">
      {{ application ? applicationStatusText[application.status] : null }}
    </div>
  </ng-template>
</mat-list-item>
