<div class="mat-typography h-full">
  <mat-toolbar>
    <div class="w-0 grow">
      <app-back-button></app-back-button>
    </div>
    <div class="w-0 grow text-center">New Team</div>
    <div class="w-0 grow"></div>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <form
    class="mx-auto flex w-4/5 max-w-[400px] flex-col gap-4 py-14"
    (ngSubmit)="submit()"
    #form="ngForm"
  >
    <mat-form-field appearance="fill">
      <mat-label i18n>Name</mat-label>
      <input
        matInput
        name="name"
        type="text"
        autocomplete="team-name"
        required
        maxlength="15"
        [(ngModel)]="data.name"
      />
      <mat-hint align="end">{{ data.name.length }} / 15</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label i18n>Description</mat-label>
      <textarea
        matInput
        name="description"
        rows="10"
        maxlength="100"
        [(ngModel)]="data.description"
      ></textarea>
      <mat-hint align="end">{{ data.description.length }} / 100</mat-hint>
    </mat-form-field>

    <div class="mt-6 flex flex-col">
      <button
        mat-raised-button
        class="uppercase"
        color="primary"
        type="submit"
        [disabled]="!form.valid || loading"
      >
        <span *appLoading="loading; diameter: 25" i18n>Create</span>
      </button>
    </div>
  </form>
</div>
