<mat-list fxLayout="column">
  <h3 matSubheader i18n>Description</h3>
  <section class="description mat-typography whitespace-pre-wrap">
    <ng-container
      *ngIf="(team$ | async)?.description; then thenBlock; else elseBlock"
    ></ng-container>
    <ng-template #thenBlock>
      <p>{{ (team$ | async)?.description }}</p>
    </ng-template>
    <ng-template #elseBlock>
      <p class="text-l-secondary-text dark:text-d-secondary-text" i18n>
        No description provided...
      </p>
    </ng-template>
  </section>

  <mat-divider></mat-divider>

  <div class="memberships" fxFlex>
    <app-team-detail-tabs-sidebar-membership-list></app-team-detail-tabs-sidebar-membership-list>
  </div>
</mat-list>
