<div class="relative flex h-full flex-col gap-4 py-7 px-8 md:px-[20%]">
  <form class="flex items-center gap-4" (ngSubmit)="load()">
    <mat-form-field fxFlex appearance="standard">
      <mat-label i18n>Search</mat-label>
      <input matInput name="search" type="search" [(ngModel)]="searchValue" />
      <mat-hint i18n>
        Search by room name or ID (prefix "#" is required for ID)
      </mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      class="hidden uppercase sm:inline-block"
      color="primary"
      [disabled]="loading"
      i18n
    >
      Search
    </button>
    <button mat-icon-button class="sm:hidden" [disabled]="loading">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <mat-divider></mat-divider>

  <ng-container *ngIf="rooms$ | async as rooms">
    <mat-action-list
      class="overflow-auto"
      *ngIf="rooms.length; else empty"
      fxFlex
    >
      <app-room-list-item
        *ngFor="let room of rooms"
        [room]="room"
      ></app-room-list-item>
    </mat-action-list>
    <ng-template #empty>
      <app-empty-state-illustration
        class="-mt-8"
        headline="No teams yet"
        message="Search to join a team, or create your own!"
      >
        <app-illustration name="teamwork"></app-illustration>
      </app-empty-state-illustration>
    </ng-template>
  </ng-container>

  <!-- <div class="absolute bottom-4 right-4">
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div> -->
</div>
